body {
    /* background-color: #eadcde;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
    background-color: #eadcde;
    background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
    background-attachment: fixed;
}

.project-header {
    color: whitesmoke;
    margin-top: 1rem;
    text-align: center;
    text-shadow: -2px 4px 5px black;
}

/* .carousel-inner {
    max-height: 80vh;
} */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
    width: 100%;
    height: auto;
    box-shadow:20px 20px 10px grey;
    margin-top: 3rem;  
}

.author-name {
    color: white;
    font-size: 2rem;
    margin-top: .6rem;
}